button {
    width: 200px;
    font-size:1.5em !important;
    padding: 10px 5px 10px 5px;
    margin:5px;
    border-radius:5px;
    box-shadow: 0px 3px 2px #1a77a6;
}

@media (max-width:800px) {
    button {
        width: 150px;
        font-size:1.5em !important;
        padding: 10px 5px 10px 5px;
        margin:5px;
        border-radius:5px;
    }

    .buttons {
        padding-left:20px;
        display:flex;
        justify-content: center;
        overflow:hidden;
        min-width: 260px;
    }
}

.buttons {
    padding-left:20px;
}

.btn-primary {
    background-color: #4fb0df;
    border:none;
    font-weight:600;
    color:white;
}

.btn-primary:hover {
    background-color: #1a77a6;
    cursor: pointer;
}

.btn-primary:active {
    transform:scale(0.95);
}

.btn-secondary {
    background-color:white;
    color:#4fb0df;
    border:1px solid #4fb0df;
    font-weight:600;
}

.btn-secondary:hover {
    background-color:#e1e1e1;
    cursor: pointer;
}
.btn-secondary:active {
    transform:scale(0.95);
}
