@import url(footer.css);
@import url(button.css);
@import url(nav.css);

*{
    box-sizing: border-box;
    font-size:10px;
    margin:0;
}


html {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width:400px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas:
    "hd hd hd hd hd"
    "nav main main main main"
    "ft ft ft ft ft"
}


.nav {
    grid-area:nav;
    width:100%;
}
header {
    grid-area:hd;
    display:flex;
    align-items: center;
}
.blogContainer {
    grid-area: main;
    min-height:600px;
}


@media (max-width:800px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "hd nav nav nav"
        "main main main main"
        "ft ft ft ft"
    }
}

h1,h2 {
    color: #7a7e7d;
}

h1 {
    font-size:2.5rem;
    text-align:center;
}

h2 {
    font-size:1.5rem;
}

@media (max-width:800px) {
    h1 {
        font-size:1.5rem;
    }
    
    h2 {
        font-size:1rem;
    }
}

.blogmain {
    display:grid;
    gap:1rem;
}

.blogmain {
    grid-template-columns:repeat(4,1fr);
}


@media (max-width: 500px) {
    .blogmain {
        grid-template-columns:1fr;
    }
}

@media (min-width:500px) and (max-width:600px) {
    .blogmain {
        grid-template-columns:repeat(2,1fr);
    }
}

@media (min-width:600px) and (max-width:1300px) {
    .blogmain {
        grid-template-columns:repeat(2,1fr);
    }
}

@media (min-width:930px) and (max-width:1300px) {
    .blogmain {
        grid-template-columns:repeat(3,1fr);
    }
}

.card {
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
    background-color:#efefef;
    border-radius: 5px;
    padding:10px;
    margin:10px;
    justify-content: center;
    align-items: center;
    border:1px solid #ececec;
    box-shadow: 3px 3px 20px #ececec;
}

.row {
    display: flex;
    justify-content: center;
}

p {
    font-size:1.5em;
}


@media (max-width:800px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left:0px;
    }
}

@media (max-width:800px) {
    .d-grid button {
        display:none;
    }
}

.blogContent {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

}

img {
    width:100%;
    height:auto;
    margin-top: 20px;
}

.highlighted{
    color:red;
    font-size:1.1rem;
}

.blogContent a {
    width:100%;
}
.card3 {
    width:100%;
    display:flex;
    justify-content: center;
}

.blogdescription {
    margin: 10px;
}